@media (max-width:800px){
    .main-nav{
        flex-direction: row-reverse;
    }
}

.phone-menu{
    background-color: hsl(0, 0%, 0%, 0.8);
    animation: slide-up 1.5s ease-in-out;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-nav {
    background-color: hsl(0, 0%, 0%, 0.7);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 0%, 0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(0,0,0,0.3);
    color: #d9dce2;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }